{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1>{{ view_post.title }}</h1><br>
    <h3><small>By {{ view_post.poster.name }}</small></h3><br>
    <h5>Date : {{ view_post.date_posted }}</h5><br>
    <h5>{{ view_post.content }}</h5><br>
    <a href="{{ url_for('edit_post',id=view_post.id)}}" class="btn btn-outline-secondary">Edit Blog</a>
    <a href="{{ url_for('delete_post',id=view_post.id)}}" class="btn btn-outline-danger">Delete Blog</a>
    <a href="{{ url_for('Posts') }}" class="btn btn-outline-secondary">Back</a>
</div>


{% endblock %}